mz_files/
*.mzML
*.mzXML

parquet/
*.parquet


__pycache__/
*.py[cod]
*$py.class
*.so

.Python
build/
dist/
.eggs/
*.egg-info/
*.egg

.venv/
venv/
env/
ENV/

.pytest_cache/
.coverage
.coverage.*
htmlcov/

.idea/
*.iml

.DS_Store
.AppleDouble
.LSOverride

.Spotlight-V100
.Trashes

*.log

.env
.env.*
*.local

